/* @font-face {
  font-family:'Philosopher', sans-serif ;
  src: url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    /* font-family: 'Philosopher', sans-serif; */
    font-family: 'Sansita', sans-serif, 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
